/* ----- GLOBAL BRAND COLOUR ------------------------------------ */
:root{
    --fusio-purple: #593797ea;
  }

  /* NAVBAR */
  .navbar                     { background: var(--fusio-purple) !important; border: none; }
  .navbar .navbar-brand,
  .navbar-nav > li > a        { color: #fff !important; }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus,
  .navbar-nav > li.active > a {
    background: var(--fusio-purple) !important;
    color: #fff !important;
  }

  /* HEADERS */
  .list-group-item.active,
  .list-group-item.active:hover,
  .list-group-item.active:focus{
    background: var(--fusio-purple) !important;
    border‑color: var(--fusio-purple) !important;
  }

  .badge-workflowr {
  display: none !important;
  }

  /* Links */
  a {
    color: var(--fusio-purple);
  }
  a:hover {
    color: #3e2563;
  }


  /* COPY CODE*/
  .copy-code-button {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    background-color: var(--fusio-purple, #6f42c1);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  .copy-code-button:hover {
    background-color: #593797;
  }

